.centered {
  position: absolute;
  top: 70%;
  left: 35%;
  color: white;
  font-size:600%;
}
.TO {
  position:absolute;
  top: 85%;
  left: 30%;
  color: white;
  font-size:350%;
}
#fun {
  position: absolute;
  top: 95%;
  left: 25%;
  color: white;
  font-size:medium;
}
.col-md-10{
  text-align: center;
  
}
/* container for services*/
#container{
  position: absolute;
}

#centered {
  position: absolute;
  top: 1150px;
  color:black;
  left:15%;
  
}
#DO{
  text-align: center;
}

.design-showing{
  display:none;
}
.development-showing{
  display: none;
}
.product-showing{
  display: none;
}

p5:hover {
  opacity:0.5;
  top: 50%;
}
.one-showing{
  display:none;
  
}
p6:hover {
  opacity:0.5;
  top: 50%;
}
.two-showing{
  display: none;
}
p7:hover {
  opacity:0.5;
  top: 50%;
}
.three-showing{
  display: none;
}
p8:hover {
  opacity:0.5;
  top: 50%;
}
.four-showing{
  display: none;
}
p9:hover {
  opacity:0.5;
  top: 50%;
}
.five-showing{
  display: none;
}
p10:hover {
  opacity:0.5;
  top: 50%;
}
.six-showing{
  display: none;
}
p11:hover {
  opacity:0.5;
  top: 50%;
}
.seven-showing{
  display: none;
}
p12:hover {
  opacity:0.5;
  top: 50%;
}
.eight-showing{
  display: none;
}
#message {
  color: rgb(128, 128, 128);
}
.socials{
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
#all {
  font-family: "Times New Roman", Times, serif;
}
@media screen and (min-width: 768px) and (max-width: 1920px) {
  body {
      background-color: azure;
      
  }
}
@media screen and (min-width: 1921px) {
body {
  background-color:#ebd9d9;
}}

#first {
  position: relative;
}
.one-showing {
  position: absolute;
  top:50%;
  left:25%;
  text-align: center;
  z-index: 10;
  margin:0 auto;
}

#second {
  position: relative;
}
.two-showing{
  position: absolute;
  top:50%;
  left:25%;
  text-align: center;
  z-index: 10;
  margin:0 auto;
}

#third {
  position: relative;
}
.three-showing {
  position: absolute;
  top:50%;
  left:25%;
  text-align: center;
  z-index: 10;
  margin:0 auto;
}

#fourth{
  position: relative;
}
.four-showing{
  position: absolute;
  top:50%;
  left:25%;
  text-align: center;
  z-index: 10;
  margin:0 auto;
}

#fifth {
  position: relative;
}
.five-showing{
  position: absolute;
  top:50%;
  left:25%;
  text-align: center;
  z-index: 10;
  margin:0 auto;
}

#sixth{
  position: relative;
}

.six-showing{
  position: absolute;
  top:50%;
  left:25%;
  text-align: center;
  z-index: 10;
  margin:0 auto;
}

#seven {
  position: relative;
}
.seven-showing{
  position: absolute;
  top:50%;
  left:25%;
  text-align: center;
  z-index: 10;
  margin:0 auto;
}
#eight{
  position: relative;
}
.eight-showing {
  position: absolute;
  top:50%;
  left:25%;
  text-align: center;
  z-index: 10;
  margin:0 auto;
}